/*.div_1{
    height:200px;
    width: 300px;
    background-color:#327974 ;
}
h1{
    color: pink;
}
h2{
    color: blueviolet;
}
.demo_para{
    font-family: 'Bruno Ace SC', cursive;
    font-family: 'Foldit', cursive;
    font-family: 'Pacifico', cursive;
}
.demo1_para{
    font-family: 'Bruno Ace SC', cursive;
font-family: 'Foldit', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;
color: red;
}
.demo3_para{
    font-family: 'Bruno Ace SC', cursive;
font-family: 'Foldit', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Righteous', cursive;
}*/





.div2{
    height: 300px;
    width: 400px;
    background-color: #F16D51;
}
.div3{
    height: 300px;
    width: 400px;
    background-color: #E3D1CD;
}

